body {background: #d7dee8;/* background: #edf2f9; */}
/* wrapper */
.wrapper {display: flex;width: 100%;align-items: stretch;background-color: #f0f4fa;margin-top: 0;}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar { min-width: 290px;max-width: 290px;background: #eaf1fa;color: #5e6f82;transition: all 0.8s;height:100%;width: 1px;position:fixed!important;z-index:2;overflow:auto;margin: 0%;width: 10%;}
#sidebar.active {margin-left: -290px;transition: all 0.8s;}
.school-sidebar-header{padding: 20px;background: #eaf1fa;height: 85px;border-bottom: 1px solid #c8ced7;font-weight: bold;background: linear-gradient(to right, #0443a2, #28c3e9);-webkit-background-clip: text;background-clip: text;color: transparent;}
#sidebar .sidebar-header {padding: 20px;background: #eaf1fa;}
.sidebar-user-info{padding-inline: 30px;line-height: 10px;padding-bottom: 10px;}
#sidebar ul p {color: #5e6f82;padding-inline: 50px;height: 30px;}
#sidebar ul.components {padding: 10px 20px;border-bottom: 1px solid #eaf1fa;color: #5e6f82;text-decoration: none;transition: transform 0.5s ease;}
#sidebar ul li a {padding: 10px;font-size: 1.1em;display: block;text-decoration: none;color: #5e6f82;}
#sidebar ul li a:hover {color: #4b5766;/*background: #fff;*/transform: translateX(8px);}
#sidebar ul li.active>a,a[aria-expanded="true"] {color: #4b5766;text-decoration: none;transition: transform 0.5s ease;transform: translateX(6px);font-weight: bold;}
a[data-toggle="collapse"] {position: relative;}
.dropdown-toggle::after {display: block;position: absolute;top: 50%;right: 20px;transform: translateY(-50%);}
ul ul a {font-size: 0.9em !important;padding-left: 30px !important;background: #eaf1fa;text-decoration: none;}
a.article,a.article:hover {background: #6d7fcc !important;color: #fff !important;}
p {font-family: 'Poppins', sans-serif;font-size: 1.1em;font-weight: 300;line-height: 1.7em;color: #999;}
a,a:hover,a:focus {color: inherit;text-decoration: none;transition: all 0.3s;}
.school-sidefooter{position: absolute;bottom: 0;padding-inline:  20px;color: #5e6f82;margin-bottom: 10px;border-top: 1px solid #c8ced7;width: 100%;}

/* ---------------------------------------------------
    NAVBAR STYLE
----------------------------------------------------- */
.school-nav-logo{width: 50px;height: 50px;border-radius: 50%;border: 2px solid #c8ced7;transition: transform 2s ease;}
.navbar {position:fixed!important;z-index:1;overflow:auto;top: 2%;width: 78%;opacity: 95%;padding: 15px 10px;border: none;border-radius: 0;margin-left: 30px;margin-bottom: 40px;transition: transform 2s ease;}
.school-navbar{background: #eaf1fa;color: #5e6f82;border-top-left-radius: 10px;border-top-right-radius: 10px;border-bottom: 2px solid;border-image: linear-gradient(to left, rgba(245, 188, 68, 1), rgba(1, 62, 134, 1)) 1;transition: transform 2s ease;}
.nav-title{font-weight: 700;padding-left: 10px;font-size: 1.8em;opacity: 75%;}
/* Style the search container */
/* form control */
.nav-search-container {position: relative;display: inline-block;padding-left: 40px;}
.nav-search-box {background-color: white;color: #5e6f82;padding-right: 30px;border-radius:10rem; border: none;padding-left: 20px;height: 40px;width: 400px;}
.nav-search-button {position: absolute;right: 0;top: 0;padding: 16px;border-top-right-radius: 50%;background-color: white;color: #5e6f82;border-bottom-right-radius: 50%;height: 40px;display: flex;align-items: center;border: none;}
.nav-search-box:focus {outline: none;}.nav-search-button:active{border:none;}
.nav-link{text-decoration: none;color: #5e6f82;transition: transform 0.5s ease;}
.nav-link:hover{color: #4b5766;/*background: #fff;*/transform: translateY(3px);}
.navbar-btn {box-shadow: none;outline: none !important;border: none;}
.line {width: 100%;height: 1px;border-bottom: 1px dashed #ddd;margin: 40px 0;}
.dashed-line {width: 100%;height: 1px;border-bottom: 1px dashed #ddd;;margin: 10px 0;}
/* nav pills */
.sch-navpill-header{background-color: #F7F7F7;color: #5e6f82;padding-inline: 30px;}
.nav-tabs {border: 0;padding: 15px 0.7rem;}
.nav-tabs:not(.nav-tabs-neutral)>.nav-item>.nav-link.active {box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);}
.nav-tabs>.nav-item>.nav-link {color: #888888;margin: 0;margin-right: 5px;background-color: transparent;border: 1px solid transparent;border-radius: 30px;font-size: 14px;padding: 11px 23px;line-height: 1.5;}
.nav-tabs>.nav-item>.nav-link:hover {background-color: transparent;}
.nav-tabs>.nav-item>.nav-link.active {background-image: linear-gradient(43deg, #013E86 0%, #206abe 46%, #FFCC70 100%);border-radius: 30px;color: #FFFFFF;border: none;}
.nav-link.active::before{background-color: initial;
    background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
    border-radius: 125px;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {width: 100%;padding: 20px;margin-left: 15.5%;min-height: 100vh;transition: all 0.3s;margin-top: 70px;}
.page-header{font-weight: 400;font-size: 1.7em;border-bottom: 1px dashed #ddd;width: 100%;color: #5e6f82;}
.school-content-body{margin-top: 15px;}

/* ---------------------------------------------------
    CARDS
----------------------------------------------------- */
.school-card{display: flex;margin-bottom: 15px;width: 100%;background-color:white;border: 4px solid white;border-radius: 7px;position: relative;flex-direction: column;word-wrap: break-word;}
.profile-card{margin: -18px;}
.school-shadow-sm{box-shadow: 0px 3px 6px 3px #d4d9df;}
/* profile card */
.profile-cover img{width: 100%;border-top-left-radius: 10px;border-top-right-radius: 10px;}
.profile-user{position: relative;}
.profile-image img{height: 80px;width: 80px;margin-top:2px;}
.profile-image{position: absolute;top:-50px;left: 35%;height: 90px;width: 90px;border:3px solid #fff;border-radius: 50%;}
/* dash metrics */
.dash-metrics{border-right: 1px solid #ddd;border-bottom: none;}
.dash-metrics-icon{border:3px solid #206abe;border-radius: 50%;padding: 20px;}
.dash-metrics-num{color: #5E6E82;font-weight: 700;}
.dash-metrics-label{color: #748194;font-weight: 400;}
.dash-metrics-sub{font-size: small;margin-top: -6px;}
.school-card-header{color: white;background: linear-gradient(to right, #0443a2, #28c3e9);padding: 10px;border-top-right-radius: 5px;border-top-left-radius: 5px;margin: -4px;font-weight: 400;font-size: 1.5em;}



/* ---------------------------------------------------
    COLORS
----------------------------------------------------- */
.text-school-darkgray{color:#4b5766;}.text-school-lightgray{color:#5e6f82;}
.text-school-darkgrey{color:#5E6E82;}.text-school-lightgrey{color:#748194;}
.text-ligong-blue{color: #013E86;}.text-ligong-orange{color: #f5bc44;}
/* ---------------------------------------------------
    BUTTONS
----------------------------------------------------- */
.sch-btn {
    border: none;display: flex;padding: 0.75rem 1.5rem;background-color: #488aec;color: #ffffff;font-size: 0.75rem;line-height: 1rem;font-weight: 700;text-align: center;
    vertical-align: middle;align-items: center;border-radius: 0.5rem;user-select: none;gap: 0.75rem;box-shadow: 0 4px 6px -1px #488aec31, 0 2px 4px -1px #488aec17;transition: all .6s ease;
}
.sch-btn-orange {
    border: none;display: flex;padding: 0.75rem 1.5rem;background-color: #f5bc44;color: #4b5766;font-size: 0.75rem;line-height: 1rem;font-weight: 700;text-align: center;
    vertical-align: middle;align-items: center;border-radius: 0.5rem;user-select: none;gap: 0.75rem;box-shadow: 0 4px 6px -1px #488aec31, 0 2px 4px -1px #488aec17;transition: all .6s ease;
}

.sch-btn,.sch-btn-orange:hover {box-shadow: 0 10px 15px -3px #488aec4f, 0 4px 6px -2px #488aec17;}
.sch-btn:focus,.sch-btn:active {opacity: .85;box-shadow: none;}

/* ---------------------------------------------------
    MODAL
----------------------------------------------------- */
.school-modal-header{color: white;background: linear-gradient(to right, #0443a2, #28c3e9);}
/* ---------------------------------------------------
    FORMS
----------------------------------------------------- */
/* inputs */
.input-container {position: relative;margin: 10px auto;width: 100%;}
.input-container input {font-size: 17px;width: 100%;border: none;border-bottom: 2px solid #ccc;padding: 5px 0;background-color: transparent;outline: none;}
.input-container .label {position: absolute;top: 0;left: 0;color: #ccc;transition: all 0.3s ease;pointer-events: none;}
.input-container input:focus ~ .label,
.input-container input:valid ~ .label {top: -20px;font-size: 16px;color: #013E86;}
.input-container .underline {position: absolute;bottom: 0;left: 0;height: 2px;width: 100%;background-color: #013E86;transform: scaleX(0);transition: all 0.3s ease;}
.input-container input:focus ~ .underline,.input-container input:valid ~ .underline {transform: scaleX(1);}

.school-form-group {position: relative;width: 100%;margin-bottom: 15px;}
.school-input {/* color: #fff; */font-size: 0.9rem;background-color: transparent;width: 100%;box-sizing: border-box;padding-inline: 0.5em;padding-block: 0.7em;border: none;border-bottom: 1px solid rgba(221, 221, 221, 0.39);}
.school-input-border {position: absolute;background: #013E86;width: 0%;height: 2px;bottom: 0;left: 0;transition: 0.3s;}
.school-input:hover {background: #4985e01f;}
.school-input:focus {outline: none;}
.school-input:focus ~ .school-input-border {width: 100%;}

/* links */
.sch-link{text-decoration: none;color:#206abe}.sch-link:hover{text-decoration: none;color:#4b5766;}


/* ---------------------------------------------------
    MEDIAQUERIES 
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -290px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    .nav-title,.nav-search-container,#sidebarCollapse span {
        display: none;
    }

    #content {
        margin-left: 1%;
    }
    .dash-metrics{border-bottom: 1px solid #ddd;border-right: none;}

    .school-navbar{width: 100%;}
}

